{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>AuthPath</title>
	
    <style>
   
    a{
    	text-decoration: none;
    	color :snow;
    }
    #line{
    background-color:black;
    width: 110%;
    height:15%;
    font-family: Lucida Console;

    }
    #form_call{
    	margin-left: 40%;
    	height: 20%;
    }
    #variants{
    	margin-right: 30%;
    	display: flex;
    }
    </style>
</head>
<body>
	<header>
  <!-- Fixed navbar -->
  <div id="line">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size:27px;"href="#">AuthPath</a>
       
      <div class="collapse navbar-collapse" id="navbarCollapse">
      	<div id="variants">
    
          
            <a class="nav-link" aria-current="page" href="/">Home</a>
            &nbsp;&nbsp;
            <a class="nav-link" href="adduser/">Add User</a>         
        
        </div>
        <form action="" method="post" name="auth">
		{%csrf_token%}
		<div id="form_call">
		<input type="" size="20" name="login_input" >
		<h3></h3>
		<input type="password" size="20" name="password_input" value="" >
		<h3></h3>
		<input type="submit" name=""  value="log in">
		</div>
		</form>
      </div>
    </div>
  </nav>
</div>
</header>
	<br>
	

     <a>Color , it is just a color</a>
<div>
<hr>



</div>	    

</body>
</html>